@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(+10px); }
}

nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  color: #FFFFFF;
  width: 100vw;
  padding: 1.5em;
  z-index: 9;
  position: absolute;
}

@media only screen and (min-width: 1024px) {
  nav {
   background-color: #54a0ff;
   align-items: flex-end;
   padding: 0 1em 0.5em;
 }
}

.nav-title {
  font-family: 'Bungee' 
}

.right-side-nav-content {
  justify-content: flex-end;
}

.navigation-arrow {
  display: flex;
  justify-content: center;
  color: white;
}
.navigation-arrow:hover {
  display: flex;
  justify-content: center;
  color: white;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}