nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  background-color: #4056a1;
  color: #FFFFFF;
  width: 100vw;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  z-index: 9;
  position: fixed;
}

.nav-title {
  display: flex;
  justify-content: flex-start;
  font-family: 'Bungee' 
}

.right-side-nav-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation-arrow {
  display: flex;
  justify-content: center;
  color: red;
}

header {
  display: flex;
  flex-direction: column;
  height: 485px;
  justify-content: flex-end;
  align-items:center;
  background-color: #999797;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  z-index: 1;
}

