.new-tweet {
  width: 100%
}

form {
  display: flex;
  flex-direction: column;
}


textarea {
  border: 0;
  border-bottom: solid grey;
  background-color:#f4f1ec;
  margin-top: .5em
}

button {
  font-family: 'bungee';
  border:none;
  background-color:#54a0ff;
  color:#fff;
  align-items: center;
}

.submit-and-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5em;
}

.counter {
  font-family: 'bungee';
}

input:focus, textarea:focus, select:focus {
  outline: none;
}